<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Agents</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Librerias Estilo-->
    <link rel='stylesheet' href='/css/app.css'/>
    <link rel="stylesheet" href="/css/font-awesome.css">

     <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

        <!-- Librerias externas-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    

</head>
<body>
    <my-app>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="centering text-center text-primary" 
                        style="  min-height: 100%; 
                                 min-height: 100vh; 
                                 display: flex;
                                 align-items: center; ">

                        <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                        <h1  style="text-shadow: 2px 2px #dddddd; color:#34495e;">Agents</h1>
                        </div>
                  
                    
                </div>
            </div>
        </div>

    </my-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
