 <div class="row">
            <div class="col-md-1" ></div>
            <div class="col-md-10" >
                <div class="row" style="padding:20px;">
                          <div class="row">  
                              <div class="col-md-4"></div>
                              <div class="well  col-md-4 text-center main" >
                                <!--Teams-->
                              <i class="fa fa-users" style="font-size:60px;" aria-hidden="true"></i>
                                Teams
                              </div>


                              <div class="col-md-4"></div>
                          </div>
                          <div class="row"> 

                              <!--Agents-->
                              <div class="well col-md-4 text-center main">    
                                    <i class="fa fa-street-view" style="font-size:100px;" aria-hidden="true"></i>
                                    Agents
                              </div>


                              <div class="col-md-4" ></div>

                              <!--Coaches-->
                              <div class="well col-md-4 text-center main">
                                  <i class="fa fa-pencil-square" style="font-size:100px;" aria-hidden="true"></i>
                                  Coaches
                              </div>


                          </div>
                          <div class="row"> 
                                <div class="col-md-4" ></div>
                                <!--Leaders-->
                                <div class="well col-md-4 text-center main">
                                    <i class="fa fa-paper-plane-o" style="font-size:60px;" aria-hidden="true"></i>
                                    Leaders
                                </div>


                                <div class="col-md-4" ></div>
                          </div>
                </div>
            </div>    
            <div class="col-md-1" ></div>     
      </div> 